<div class="container">

  <h1 class="text-center mt-5 mb-5">
    Home Page Content
  </h1>

  <hr>

  <div class="row">
    <div class="col-lg-12">

      <div class="mt-5 mb-5">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <div>
              1548846542
            </div>
          </div>
        </ngx-slick-carousel>
      </div>

      <div class="mt-5 mb-5">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig1">
          <div ngxSlickItem class="slide2">
            <div>
              1548846542956121321321321651
            </div>
          </div>
          <div ngxSlickItem class="slide2">
            <div>
              1548846542956121321321321651
            </div>
          </div>
          <div ngxSlickItem class="slide2">
            <div>
              1548846542956121321321321651
            </div>
          </div>
          <div ngxSlickItem class="slide2">
            <div>
              1548846542956121321321321651
            </div>
          </div>
          <div ngxSlickItem class="slide2">
            <div>
              1548846542956121321321321651
            </div>
          </div>
          <div ngxSlickItem class="slide2">
            <div>
              1548846542956121321321321651
            </div>
          </div>
        </ngx-slick-carousel>
      </div>

    </div>
  </div>


</div>
