<section id="footer">
  <div class="container">
    <div class="row text-center text-sm-left text-md-left">
      <div class="col-md-4 col-sm-6 col-xs-6">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <!-- <li *ngFor="let element of array; let first = first; let last = last; let i = index" [type]="element" [ngClass]="{ first: first, last: last }"> -->

          <!-- <li *ngFor="let element of array; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }"> -->

          <li *ngFor="let element of array; trackBy: trackElement">
            <a href="">
              <!-- {{i}}. {{element.name}} -->
              
              <!-- {{element.name}} -->
              
              <i class="fa fa-angle-double-right"></i>
              {{element.name}}
              
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <!-- <li *ngFor="let element of array; let first = first; let last = last; let i = index" [type]="element" [ngClass]="{ first: first, last: last }"> -->

          <!-- <li *ngFor="let element of array; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }"> -->

          <li *ngFor="let element of array1; trackBy: trackElement">

            <a href="">
              <!-- {{i}}. {{element.name}} -->
             
              <!-- {{element.name}} -->
              
              <i class="fa fa-angle-double-right"></i>
              {{element.name}}
              
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <!-- <li *ngFor="let element of array; let first = first; let last = last; let i = index" [type]="element" [ngClass]="{ first: first, last: last }"> -->

          <!-- <li *ngFor="let element of array; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }"> -->

          <li *ngFor="let element of array2; trackBy: trackElement">

            <a href="">
              
              <!-- {{i}}. {{element.name}} -->
              
              <!-- {{element.name}} -->
              
              <i class="fa fa-angle-double-right"></i>
              {{element.name}}

            </a>
          </li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u><a href="https://www.demo.com">www.demo.com</a></u> is a Registered Demo Address</p>
        <p class="h6">Demo @copy All right Reversed.<a class="text-green ml-2" href="https://www.demo.com"
            target="_blank">Demo</a></p>
      </div>
    </div>
  </div>
</section>
